@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: auto;
    transform: translateY(-2%); /* Per mantenere la centratura verticale */
    margin-top: 2em;
    
}

.img_cuoco{
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
}

.contacts{
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-top: 2em;
}

